<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Products app</title>
    </head>
    <body>
        {% block navigate_block %}
        <h1><table>
            <tr>
               <td><a href="/products">Home</a> |</td><td><a href="/products/products24h">Products for last 24h</a> |</td><td><a href="/products/registr">Registration</a> |</td><td><a href="/products/login">Login</a> |</td><td><a href="/products/logout">Logout</a> |</td>{% if user.is_authenticated %}<td>Your are {{ user }}</td>{% endif %}
            </tr>
        </table></h1>
        {% endblock %}

        {% block content_block %}
        {% endblock %}
    </body>
</html>
